

/****************************  POSITIONS ****************************/

.hidden {
	display: none;
}

.clearfix, .left, .right {
	width: 100%;
	height: auto;
	display: inline-block;
}

.clearfix {
	clear: both;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.positive {
	color: #1fb22a !important;
}

.negative {
	color: #ef0000 !important;
}

.neutral {
	color: #FFFFFF !important;
}

/****************************  COLORS & FONTS ****************************/

.symbol {
	font-family: 'websymbols-regular-webfont';
	font-size: 0.9em;
	font-variant: normal !important;
}