body:after {
	content: 'mobile';
	display: none;
}

/****************************  HELPER ****************************/

.inner {
	width: 96%;
	margin: 0 2%;
	display: inline-block;
}

.third {
	width: 32%;
	margin-left: 1%;
}

article .third:last-of-type {
	margin-right: 1%;
}

fieldset {
	width: 98%;
	height: auto;
	border: 0 none;
	margin-top: 1em;
	margin-left: 1%;
}

/***************************  ELEMENTS ***************************/

section {
	width: 100%;
	height: auto;
	display: inline-block;
	position: relative;
	clear: both !important;
}

section:first-of-type {
	top: 30px !important;
}

section:last-of-type {
	top: 0 !important;
}

h1 {
	font-family: 'chinoitcpro-bold';
	font-size: 1.4em;
	font-weight: 700;
	line-height: 0.9em;
	color: #313131;
	text-transform: uppercase;
	font-stretch: extra-condensed;
}

h2 {
	font-family: 'chinoitcpro-regular';
	font-size: 0.8em;
	font-weight: 300;
	color: #313131;
}

h3 {
	margin: -1.2em 0 0.5em 0;
}

p {
	font-family: 'chinoitcpro-light';
	font-size: 0.8em;
	font-weight: 100;
}

/****************************  HEADER ****************************/

header img {
	margin: 7px;
}

header ul {
	display: none;
}

header button {
	margin-top: 42px;
	margin-right: 1em !important;
}

/****************************  START ****************************/

#home {
	color: #313131;
	font-family: 'chinoitcpro-bold';
	font-size: 0.9em;
	text-decoration: none;
	line-height: 1em;
}

#home > img {
	height: 2em;
	width: auto;
}

#start h1 {
	font-size: 2em;
	line-height: 0.9em;
	text-shadow: 0 -1px 1px #666666, 0 1px 1px #FFFFFF;
}

#start h2 {
	margin-bottom: 3em;
}

/*
#start a {
	color: #ffffff;
	font-family: 'chinoitcpro-medium';
	font-size: 1.1em;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1.4em;
	border-radius: 4px;
	background-image: -webkit-linear-gradient(top, #5e5e5e, #0e0e0e);
	background-image: -moz-linear-gradient(top, #5e5e5e, #0e0e0e);
	background-image: -o-linear-gradient(top, #5e5e5e, #0e0e0e);
  background-position: initial initial;
  background-repeat: initial initial;
	display: inline-block;
	padding: 0 5px;
	position: relative;
	clear: both;
	float: left;
}

#start a img {
	height: 0.8em;
	width: auto;
	padding: 0 0 0 5px;
	position: relative;
	top: 1px;
}
*/

.slider {
	width: 300%;
	margin: 0;
	display: none;
}

.slider .third:last-of-type {
	margin-right: 0;
}

.tab {
	font-family: 'chinoitcpro-bold';
	font-size: 0.9em;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0.1em 0.6em;
	width: 7.2em;
}

.box {
	padding: 1% 1% 10% 1%;
	display: inline-block;
	cursor: pointer;
}

#start .box {
	height: 8em;
}

.box-img {
	width: 4.5em;
	height: auto;
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	float: left;
	padding: 0.5em 1.8em 3em 1.2em;
}

.box-img-last {
	width: 5.5em !important;
	height: auto;
	display: inline-block;
	float: left !important;
	position: relative;
	top: 1em !important;
	padding: 0 -0.5em 0.7em 0.7em !important;
}

.box > .line {
	width: 20em !important;
	border-color: inherit;
	float: left;
	padding: 0;
	margin: 0.3em 0 0 0;
	border-style: none none solid none;
	border-width: 1px;
	position: relative;
	left: 0;
}

.box p {
	font-size: 1em;
}


/****************************  SERVICES ****************************/

#services .line {
	width: 40px;
}

.h-line {
	width: 1em;
	height: 2em;
	display: block;
	border-right: 1px dotted #313131;
	position: relative;
	top: -1em;
}

#services article {
	width: 80%;
	float: left;
}

#services article > img {
	width: 4em;
	height: auto;
	position: relative;
	top: 6em;
	left: -4.5em;
}

#services article h1 {
	text-shadow: none;
	padding: 10px 0 30px 0;
}

#services article h2 {
	background: #000000;
	color: #ffffff;
	font-family: 'chinoitcpro-regular';
	font-weight: 300;
	text-transform: uppercase;
	padding: 1px 5px;
}

#services article > h2 > img {
	height: 9px;
	width: auto;
	margin-right: 5px !important;
	position: relative;
	top: 0 !important;
	left: 0;
}

#services article > p {
	border-bottom: 1px solid #313131;
}

#services-analysis {
	position: relative;
	top: -3.5em;
	left: 4.5em;
}

#services-conception {
	position: relative;
	top: -7em;
	left: 4.5em;
}

#services-realization {
	position: relative;
	top: -10.5em;
	left: 4.5em;
	margin-bottom: -10em;
}

/****************************  TECHNOLOGIES ****************************/

#technologies {
	position: relative;
	top: 0;
}

#technologies h1 {
	margin-top: 3em !important;
}

#technologies .line {
	width: 40px;
}

#technologies h3 {
	background-color: #313131;
	color: #FFFFFF;
	font-family: 'chinoitcpro-regular';
	font-size: 0.7em;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1em;
	padding: 0.3em;
	display: inline;
}

#technologies li:nth-of-type(3), #technologies li:nth-of-type(4) {
	padding-top: -1em !important;
}

#technologies li:before {
	content: ' ';
	background-image: url(../images/ic_li-center.png);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 30px;
	height: 2em;
	position: relative;
	left: -3em;
	top: 1.5em;
}

#technologies li:last-of-type {
	border: 0 none;
}

#tech-specs {
	background: #ffffff;
	padding: 1em 1em 1em 1em;
	margin-top: 1em;
	display: inline-block;
}

#technologies .inner > img {
	width: 100%;
	height: auto;
	margin-top: 2em;
}

/****************************  SHOWTIME ****************************/

#showtime .line {
	width: 40px;
}

#viewport, #box, .slide {
	width: 390px;
	height: 200px;
	margin: 0 0 0 0.4em;
}

.slide {
	background-image: url(../images/bg_wood-2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.slide h1 {
	color: #ffffff;
	margin: 1em;
	text-shadow: 0 -1px 1px #666666, 0 1px 1px #FFFFFF;
}

#viewport {
	overflow: hidden;
}

#viewport-shadow {
	position: relative;
	width: 390px;
	padding: 0 1em 3em 1em;
	margin-top: 1em;
	margin-right: 15%;
	background-image: url(../images/box-shadow.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: bottom;
}

#controls {
	position: relative;
	top: -40px;
	left: 43%;
	overflow: hidden;
}

#controls li {
	display: inline;
}

#prev, #next {
	position: absolute;
	top: 5.5em;
	width: 26px;
	height: 45px;
	display: block;
}

#prev {
	background: url(../images/ic_slider_left.png) no-repeat;
	left: 0;
}

#next {
	left: 430px;
	background: url(../images/ic_slider_right.png) no-repeat !important;
}

#time-indicator {
	width: 0px;
	max-width: 390px !important;
	height: 3px;
	background-color: #de1f26;
	position: absolute;
	top: 200px;
	left: 35px;
}

.goto-slide {
	margin-left: 0.3em;
	width: 11px;
	height: 11px;
	display: block;
	float: left;
	border: none;
	background-color: #eaeaeb;
	border-radius: 6px;
}

.goto-slide.current {
	background-color: #de1f26;
}

/****************************  ABOUT US ****************************/

#about .line {
	width: 40px;
}

#about .inner > p {
	max-width: 620px;
	margin: 1em 0 8em 0 !important;
}

#about .inner > img {
	width: 100%;
	height: auto;
	margin-top: 3em;
}

#about article {
	width: 98%;
	height: auto;
	margin: 0 0 5em 0;
	padding: 0 1% 2% 1%;
	background-color: rgba(255,255,255,0.6);
}

#about article:last-of-type {
	margin: 0 !important;
}

#about article > * {
	position: relative;
}

.about-icon {
	width: 3em;
	height: 3em;
	top: -8em;
	left: 0;
	margin-bottom: -6.5em;
	z-index: 100;
}

.about-icon:first-of-type {
	margin-top: 4em !important;
}

.about-icon:nth-of-type(2) {
	margin-top: 5em !important;
}

.about-icon:nth-of-type(3) {
	margin-top: 7em !important;
}

.about-lines {
	width: 100%;
	height: 2em;
	top: -9.5em;
	left: 0;
	margin-bottom: -6em;
	z-index: 90;
}

#about h3 {
	color: #313131;
	font-family: 'chinoitcpro-regular';
	font-size: 0.9em;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1.4em;
}

#about article .line {
	width: 98%;
	margin-bottom: 0.5em !important;
}


/****************************  TEAM ****************************/

#team {
	overflow: visible;
	display: inline-block;
}

#team > .inner > h1 {
	position: relative;
	top: 10px;
	left: 0;
}

#team .line {
	width: 40px;
	position: relative;
	top: 30px;
	left: 0;
	margin: 0 0 1em 0;
}



.roll:before {
	content: ' ';
	width: 2em;
	height: 2em;
	background-image: url(../images/ic_plus_black-0.png);
	background-size: 2em 2em;
	display: block;
	position: relative;
	left: -2.5em;
	top: 1.2em;
}

.roll span {
	display: block;
	position: relative;
	padding: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	cursor: pointer;
}

.roll:hover span {
	-webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
	-moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
}

.roll span:after {
	content: attr(data-title);
	display: block;
	width: 5.3em;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 0 0.5em 0.5em;
	color: #ffffff;
	background: #74e3ec;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
	-moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
	font-variant: small-caps;
	font-family: 'chinoitcpro-bold' !important;
	font-size: 1.2em !important;
	overflow: hidden;

}​

.roll span {
	font-family: 'chinoitcpro-bold' !important;
	font-weight: 700;
	font-size: 1.4em;
}

.roll span h1 {
	font-family: 'chinoitcpro-bold';
	font-size: 1.4em !important;
	font-weight: 700;
}

.roll span h2 {
	font-family: 'chinoitcpro-light';
	font-size: 0.8em;
	font-weight: 100;
	padding-bottom: 0.5em;
	background-color: #f3f3f3;
}

#team article {
	height: auto;
	float: left;
	margin: 2em 0 0 0;
	display: inline-block;
}

#team article img {
	width: 100%;
	height: auto;
	position: relative;
	left: 0;
}

#team article h1 {
	display: inline-block;
	float: left;
}

#team article h2 {
	font-family: 'chinoitcpro-regular';
	font-size: 0.8em;
	font-weight: 700;
	clear: right;
	margin: 1.2em 0 0 0.5em;
}

#team article p {
	padding: 2%;
	margin-top: 1em;
	background-color: rgba(255,255,255,0.6);
}

.mail-btn {
	display: none;
}

.mail-btn:after {

}

.team-img {
	display: none;
}


/****************************  CONTACT ****************************/



/****************************  CAREER ****************************/


#career .line {
	width: 40px;
}

#career article {
	max-width: 100%;
}

#career .box {
	background: rgba(255,255,255,0.6);
	margin: 40px 0 0 0;
	padding: 10px 0;
	min-height: 20px;
}

#career .box img {
	padding: 1em;
	float: left;
}

#career h3 {
	color: #313131;
	font-family: 'chinoitcpro-bold';
	font-weight: 700;
	font-size: 0.9em;
	padding: 0.5em 0 0 0;
	float: left;
}

#career p {
	float: left;
}

#career .inner > img {
	width: 100%;
	height: auto;
	margin-top: 10%;
}

/****************************  FINAL ****************************/

#final h1 {
	font-family: 'chinoitcpro-bold';
	font-size: 2em;
	font-weight: 700;
	line-height: 0.9em;
	color: #ffffff;
	text-transform: uppercase;
	text-shadow: 0 -1px 1px #666666, 0 1px 1px #FFFFFF;
	margin-top: 5em;
}



/****************************  ORIENTATION ****************************/

@media all and (orientation: portrait) {

	section {
		min-height: 460px;
	}

	#start {
		background-image: url(../images/img_start-bg.png);
		background-repeat: no-repeat;
		background-position: top right;
		background-size: auto 100%;
		margin: 2em 0 0 0;
	}

	#home {
		margin: 10em 0 0 0;
	}

	#start .line {
		width: 45%;
		margin-bottom: 0.5em;
	}

	#technologies article > img {
		display: none;
	}

	#technologies ul {
		list-style-type: none;
		margin: 0 0 0 15%;
		max-width: 82%;
		float: left;
		display: inline-block;
	}

	#technologies li {
		font-family: 'chinoitcpro-regular';
		font-size: 1em;
		padding: 1em 0 1em 0;
		margin-top: -2em;
		line-height: 1em;
		border-bottom: 1px solid #c3c3c3;
	}

	#team menu {
		width: 96%;
		height: auto;
		float: left;
		margin: 0 2%;
		display: inline-block;
		clear: both;
	}

	#toggle-philipp, #toggle-manuel, #toggle-igor {
		width: 90%;
		float: left;
		position: relative;
		left: 5%;
		z-index: 1000;
	}

	.roll {
		width: 15em;
		display: inline-block;
		vertical-align: top;
		-webkit-perspective: 15em;
		-moz-perspective: 15em;
		-webkit-perspective-origin: 50% 50%;
		-moz-perspective-origin: 50% 50%;
		cursor: pointer;
		background-color: #f4f4f4;
		margin: 0;
		position: relative;
		left: 2em;
	}

	#contact {
		display: inline-block;
		overflow: visible;
		position: relative;
		margin-top: 3em;
	}

	#career {
		display: block;
		overflow: visible;
		position: relative;
		min-height: 480px;
		top: 5em;
		clear: both;
		margin-bottom: 0;
	}


	#final {
		display: block;
		height: 120px;
		clear: both;
		position: relative;
		top: 0;
	}

}

@media all and (orientation: landscape) {

	section {
		top: 0;
		margin-bottom: 5em;
	}

	#start {
		background-image: url(../images/img_start-bg.png);
		background-repeat: no-repeat;
		background-position: top right;
		background-size: 80% auto;
	}

	#start .line {
		width: 45%;
		margin-bottom: 2em;
	}

	#technologies article > img {
		width: 30%;
		float: left;
		position: relative;
		top: 3em;
		margin-right: 15%;
	}

	#technologies ul {
		list-style-type: none;
		margin: 0em 1em 0 0em;
		max-width: 50%;
		float: left;
		display: inline-block;
	}

	#technologies li {
		font-family: 'chinoitcpro-regular';
		font-size: 1em;
		padding: 1em 0 1em 0;
		margin-top: -2em;
		line-height: 1em;
		border-bottom: 1px solid #c3c3c3;
	}

	#team menu {
		width: 30%;
		height: auto;
		float: left;
		margin: 4em 0 0 0.1em;
		display: inline-block;
	}

	#toggle-philipp, #toggle-manuel, #toggle-igor {
		width: 60%;
		float: left;
		position: absolute;
		left: 35%;
		z-index: 1000;
	}

	.roll {
		width: 8em;
		display: inline-block;
		vertical-align: top;
		-webkit-perspective: 8em;
		-moz-perspective: 8em;
		-webkit-perspective-origin: 50% 50%;
		-moz-perspective-origin: 50% 50%;
		cursor: pointer;
		background-color: #f4f4f4;
		margin: 0;
		position: relative;
		left: 2em;
	}

	#final {
		display: block;
		height: 480px;
		clear: both;
		position: relative;
		top: 35em;
		margin-bottom: -3em;
	}

	#contact {
		display: inline-block;
		overflow: visible;
		position: relative;
		top: 35em;
	}

	#career {
		display: block;
		overflow: visible;
		position: relative;
		min-height: 480px;
		top: 35em;
		clear: both;
		margin-bottom: 40em;
	}


}